.footer{
    position:absolute;
    bottom: 0;
    left: 0;
    height: 120px;
    width: 100%;
    background-color: var(--color-red);
}
.footer__black{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background-color: black;
}
.footer__circle{
    position: absolute;
    width: 70px;
    aspect-ratio: 1;
    background-color: white;
    border: 10px solid black;
    border-radius: 50%;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);

}
.footer__circle-int{
    position: absolute;
    width: 35px;
    aspect-ratio: 1;
    background-color: rgb(82, 81, 81);
    border: 5px solid black;
    border-radius: 50px;
    bottom: 7.75px;
    left: 50%;
    transform: translateX(-50%);
}