.pokeCard{
    text-align: center;
    background-color: white;
    border: 10px solid black;
    width: min(270px,100%);
    border-radius: 10px;
    cursor: pointer;
    transform: 300ms transform ease;
    position: relative;
    overflow: hidden;
}
.pokeCard:hover{
  transform: scale(1.02);
}
.pokeCard__header{
    height: 170px;
    background:  linear-gradient(180deg, #000, #fff);
}
.pokeCard__content{
    position: relative;
}
.pokeCard__img{
    position: absolute;
    padding: 10px 20px;
    top: 0;
    transform: translateY(-85%);
}
.pokeCard__name{
    padding-top: 15px;
    text-transform: capitalize;
    margin-bottom: 0;
}


.pokeCard__types{
    text-transform:capitalize;
}
.pokeCard__stats{
    display: grid;
    grid-auto-rows: 60px;
    grid-template-columns: repeat(2, 1fr);
}
.pokeCard__stat{
    display: flex;
    flex-direction: column;
    font-size: 14px;
}
.pokeCard__stat-name{
    margin: 0;
    color: #9f9f9f;
}

/* loader*/
.loader{
  height: 100%;
}

.loader__section{
  height: 50%;
  width: 100%;
  background-color: red;
  position: absolute;
  left: 0;
}
.loader__section.up{
  top:0;
}
.loader__section.down{
  bottom:0;
}

.loader__black{
  height: 60px;
  width: 100%;
  background-color: black;
}
.loader__black.up{
  position: absolute;
  bottom: 0;
  border-bottom: 1px solid white;
}
.loader__black.down{
  border-top: 1px solid white
}

.loader__circle {
  position: absolute;
  width: 70px;
  aspect-ratio: 1;
  background-color: white;
  border: 9px solid black;
  border-radius: 50%;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
.loader__circle-int {
  position: absolute;
  width: 35px;
  aspect-ratio: 1;
  border: 6px solid black;
  background-color: rgb(45, 45, 45);
  border-radius: 50%;
  bottom: 7.75px;
  left: 50%;
  transform: translateX(-50%);
}
.loader__section.up.animationActive{
animation: 1s 0.5s 1 forwards linear animationSectionUp;
}

@keyframes animationSectionUp{
  0% {top:0;}
  25%{top: -75px;}
  55%{top: -150px;}
  75%{top: -225px;}
  100%{top: -300px;}
  
}

.loader__section.down.animationActive{
  animation: 1s 0.5s 1 forwards linear animationSectionDown;
}

@keyframes animationSectionDown{
  0% {bottom:0;}
  25%{bottom: -75px;}
  55%{bottom: -150px;}
  75%{bottom: -225px;}
  100%{bottom: -300px;}
}
/*types styles*/
.border-normal {
    border: 10px solid #735259;
  }
  .border-fighting {
    border: 10px solid #96402A;
  }
  .border-flying {
    border: 10px solid #beb14c;
  }
  .border-poison {
    border: 10px solid #5B3184;
  }
  .border-ground {
    border: 10px solid #654008;
  }
  .border-rock {
    border: 10px solid #7E7E7E;
  }
  .border-bug {
    border: 10px solid #E52D2D;
  }
  .border-ghost {
    border: 10px solid #323569;
  }
  .border-steel {
    border: 10px solid #5E736C;
  }
  .border-fire {
    border: 10px solid #F96D6F;
  }
  .border-water {
    border: 10px solid #133258;
  }
  .border-grass {
    border: 10px solid #7EC6C5;
  }
  .border-electric {
    border: 10px solid #0C1395;
  }
  .border-psychic {
    border: 10px solid #E52D2D;
  }
  .border-ice {
    border: 10px solid #6FBEDF;
  }
  .border-dragon {
    border: 10px solid #478A93;
  }
  .border-dark {
    border: 10px solid #030706;
  }
  .border-fairy {
    border: 10px solid #971B45;
  }
  .border-unknown {
    border: 10px solid #696767;
  }
  .border-shadow {
    border: 10px solid #6c31a3;
  }


  .bg-lg-normal {
    background: linear-gradient(180deg, #735259, #000);
  }
  .bg-lg-fighting {
    background: linear-gradient(180deg, #96402A, #000);
  }
  .bg-lg-flying {
    background: linear-gradient(180deg, #beb14c, #000);
  }
  .bg-lg-poison {
    background: linear-gradient(180deg, #5B3184, #000);
  }
  .bg-lg-ground {
    background: linear-gradient(180deg, #654008, #000);
  }
  .bg-lg-rock {
    background: linear-gradient(180deg, #7E7E7E, #000);
  }
  .bg-lg-bug {
    background: linear-gradient(180deg, #E52D2D, #000);
  }
  .bg-lg-ghost {
    background: linear-gradient(180deg, #323569, #000);
  }
  .bg-lg-steel {
    background: linear-gradient(180deg, #5E736C, #000);
  }
  .bg-lg-fire {
    background: linear-gradient(180deg, #F96D6F, #000);
  }
  .bg-lg-water {
    background: linear-gradient(180deg, #133258, #000);
  }
  .bg-lg-grass {
    background: linear-gradient(180deg, #7EC6C5, #000);
  }
  .bg-lg-electric {
    background: linear-gradient(180deg, #0C1395, #000);
  }
  .bg-lg-psychic {
    background: linear-gradient(180deg, #E52D2D, #000);
  }
  .bg-lg-ice {
    background: linear-gradient(180deg, #6FBEDF, #000);
  }
  .bg-lg-dragon {
    background: linear-gradient(180deg, #478A93, #000);
  }
  .bg-lg-dark {
    background: linear-gradient(180deg, #030706, #000);
  }
  .bg-lg-fairy {
    background: linear-gradient(180deg, #971B45, #000);
  }
  .bg-lg-unknown {
    background: linear-gradient(180deg, #696767, #000);
  }
  .bg-lg-shadow {
    background: linear-gradient(180deg, #6c31a3, #000);
  }